In [1]:
import numpy as np

In [16]:
print(12)

12

In [17]:
import pandas as pd
df = pd.read_csv('popular-names.txt', sep= '\t',header=None)
print(len(df))

2780

In [18]:
df = pd.read_csv('popular-names.txt', sep='\t', header=None)
df.to_csv('popular-names.txt_2', sep=' ', index=False,  header=None)

In [19]:
df = pd.read_csv('popular-names.txt', sep='\t', header=None)
#print(len(df))
df[0].to_csv('col1.txt', index=False, header=None)
df[1].to_csv('col2.txt', index=False, header=None)

In [20]:
c1 = pd.read_csv('col1.txt', header=None)
c2 = pd.read_csv('col2.txt', header=None)

df = pd.concat([c1, c2], axis=1)
df.to_csv('ans13txt', sep='\t', index=False, header=None)

In [24]:
import sys
if len(sys.argv)==1:
    print('set arg n like"python ans14 py"')
else:
    #n = int(sys.argv[1])
    n=3
    df=pd.read_csv('popular-names.txt', sep='\t', header=None)
    print(df.head(n))

      0  1     2     3
0  Mary  F  7065  1880
1  Anna  F  2604  1880
2  Emma  F  2003  1880

In [25]:
if len(sys.argv)==1:
    print('set arg n like"python ans15 py"')
else:
    #n = int(sys.argv[1])
    n=3
    df=pd.read_csv('popular-names.txt', sep='\t', header=None)
    print(df.tail(n))

          0  1      2     3
2777  Lucas  M  12585  2018
2778  Mason  M  12435  2018
2779  Logan  M  12352  2018

In [32]:
if len(sys.argv)==1:
    print('set arg n like"python ans15 py')
else:
    #n = int(sys.argv[1])
    n = 3
    df = pd.read_csv('popular-names.txt', sep='\t', header=None)
    
    nrow = -(-len(df)//n)
    for i in range(n):
        start = nrow * i
        end = nrow * (i + 1)
        df.loc[start:end].to_csv(f'ch02/ans16_{i}', sep='\t', index=False, header=None)

In [34]:
df = pd.read_csv('popular-names.txt', sep='\t', header=None)
print(df[0].unique())

['Mary' 'Anna' 'Emma' 'Elizabeth' 'Minnie' 'Margaret' 'Ida' 'Alice'
 'Bertha' 'Sarah' 'John' 'William' 'James' 'Charles' 'George' 'Frank'
 'Joseph' 'Thomas' 'Henry' 'Robert' 'Annie' 'Edward' 'Clara' 'Florence'
 'Ethel' 'Bessie' 'Harry' 'Helen' 'Ruth' 'Marie' 'Lillian' 'Mildred'
 'Dorothy' 'Frances' 'Walter' 'Evelyn' 'Virginia' 'Richard' 'Betty'
 'Donald' 'Doris' 'Shirley' 'Barbara' 'Patricia' 'Joan' 'Nancy' 'Carol'
 'David' 'Ronald' 'Judith' 'Linda' 'Sandra' 'Carolyn' 'Sharon' 'Michael'
 'Susan' 'Donna' 'Larry' 'Kathleen' 'Deborah' 'Gary' 'Karen' 'Debra'
 'Pamela' 'Cynthia' 'Mark' 'Steven' 'Lisa' 'Jeffrey' 'Lori' 'Kimberly'
 'Tammy' 'Angela' 'Michelle' 'Jennifer' 'Melissa' 'Christopher' 'Brian'
 'Amy' 'Laura' 'Tracy' 'Julie' 'Jason' 'Scott' 'Stephanie' 'Heather'
 'Nicole' 'Matthew' 'Rebecca' 'Jessica' 'Amanda' 'Daniel' 'Kelly' 'Joshua'
 'Crystal' 'Ashley' 'Megan' 'Brittany' 'Andrew' 'Justin' 'Samantha'
 'Lauren' 'Emily' 'Brandon' 'Tyler' 'Taylor' 'Nicholas' 'Jacob' 'Hannah'
 'Austin' 'Alexis' 'Rachel' 'Madison' 'Abigail' 'Olivia' 'Ethan' 'Anthony'
 'Isabella' 'Ava' 'Sophia' 'Chloe' 'Alexander' 'Mia' 'Jayden' 'Noah'
 'Aiden' 'Mason' 'Liam' 'Charlotte' 'Harper' 'Benjamin' 'Elijah' 'Amelia'
 'Logan' 'Oliver' 'Lucas']

In [35]:
df = pd.read_csv('popular-names.txt', sep='\t', header=None)
print(df.sort_values(2, ascending=False))

            0  1      2     3
1340    Linda  F  99689  1947
1360    Linda  F  96211  1948
1350    James  M  94757  1947
1550  Michael  M  92704  1957
1351   Robert  M  91640  1947
...       ... ..    ...   ...
27      Annie  F   1326  1881
28     Bertha  F   1324  1881
8      Bertha  F   1320  1880
29      Alice  F   1308  1881
9       Sarah  F   1288  1880

[2780 rows x 4 columns]

In [36]:
df = pd.read_csv('popular-names.txt', sep='\t', header=None)
print(df[0].value_counts())

James      118
William    111
Robert     108
John       108
Mary        92
          ...
Scott        1
Rachel       1
Kelly        1
Crystal      1
Lucas        1
Name: 0, Length: 136, dtype: int64